version: 2.1

jobs:
  deploy_app_to_railway:
    docker:
      - image: cimg/node:20.9
    working_directory: ~/project
    steps:
      - checkout
      - run: npm i -g @railway/cli
      - run:
          name: Deploy to Railway App
          command: |
            cd bankchurn-api
            railway up --service=bountiful-grace
            railway up --detach


tags_only: &tags_only
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^.*/
>>>>>>> 7121286 (Actualizo config.yml desde la VM para el servivio bountiful-grace)

workflows:
  deploy:
    jobs:
      - deploy_app_to_railway:
          filters:
            branches:
              only: main
